{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "jsx-a11y",
    "import",
    "react-hooks",
    "formatjs"
  ],
  "settings": {
    "import/resolver": "typescript"
  },
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-unresolved": 0,
    "import/extensions": [2, {
      "ts": "never",
      "tsx": "never",
      "graphql": "always",
      "json": "always"
    }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "formatjs/enforce-description": ["error", "literal"],
    "formatjs/enforce-default-message": ["error", "literal"],
    "formatjs/no-id": "error",
  },
  "overrides": [
    {
      "files": ["./**/**.stories.ts", "./**/**.stories.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": 0,
        "react/jsx-props-no-spreading": 0
      }
    },
    {
      "files": ["./**/**.test.ts", "./**/**.test.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    }
  ]
}
